
/*  
  [_] clear input fields after success

  [x] add 1 phone number?
    [_] have people able to edit the phone number (only number/ not type/ can't add more)

  [_] add things needed to fix CORS concern 
  [_] deploy to heroku

*/

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  width: 100%;
  height: 100%;

  background: url("../images/symphony.png");
}

.well {
  background-color: rgba(0, 0, 0, 0.2); 
}

#title {
  font-size: 4em;
}

#forms div {
  margin: 5px;
}

.searchForm {
  display: none;
}

.addForm {
  display: none;
}



