<div class="container">
  <h1><strong>CONFIDANT</strong></h1>
  <div class="well">
    <button class="btn btn-primary" id="list">List All</button>
    <input type="text" id="search" placeholder="Search by first name, last name, or email"/>
    <button class="btn btn-primary" id="find">Find</button>

    <fieldset id="addFriend">
      <legend>Add Friend</legend>
      <input type="text" id="firstName" placeholder="first name"/>
      <input type="text" id="lastName" placeholder="last name"/>
      <input type="text" id="email" placeholder="email"/>
      <button class="btn btn-primary" id="add">Add</button>      
    </fieldset>
  </div>
  <div class="well">
    <div class="table-responsive">
      <h3>FRIENDS</h3>
      <table class="table" id="friends">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Numbers</th>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
    </div>
  </div>
</div>